.BackHeaderMainClass{
    background: #fff;
    color: #000;
    font-weight: 700;
    width: 100vw;
    display: flex;
    flex-flow: row wrap;
    padding: 2% 2% 0% 2%;
    align-items: center;
    min-height: 5vh;
}

.backHeaderTitle{
    text-align: center;
}

.backHeaderBack{
    width: 15vw;
}

.backHeaderTitle{
    width: 60vw;
}

.headLogo{
    position: absolute;
    left: 10%;
}

.backHeaderWallet{
    width: 15vw;
    position: absolute;
    right: 10%;
}


