.profileMainHeader {
    height: 22vh;
}

.profileImg {
    position: absolute;
    top: 15vh;
    left: 50%;
    transform: translate(-50%, -50%);
}

.profileArrowText{
    display: flex;
    flex-flow: row column;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    width: 95vw;
    top: 10px;
    color: white;
    margin:2.5vw;
    font-size: 2vh;
}

.bgProfile{
    width: 100vw;
    height: 20vh;
}

.profileImg img{
    width: 60%;
    display: flex;
    margin: auto;
}